<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>496857907520-s4cgo277qqsccs8k1564tjl7shqp6cgt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.496857907520-s4cgo277qqsccs8k1564tjl7shqp6cgt</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>496857907520-08dhemfphme3bedmpcf1he38qjpnpg0k.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC86LW_vjQ1eBVC9DMZp0C0uVNjHHLU4iI</string>
	<key>GCM_SENDER_ID</key>
	<string>496857907520</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gofreshapartner.app</string>
	<key>PROJECT_ID</key>
	<string>gofresha-2b68d</string>
	<key>STORAGE_BUCKET</key>
	<string>gofresha-2b68d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:496857907520:ios:e089bf0d5f01f39e823aa5</string>
</dict>
</plist>